@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); 


.produtos{
    /* width: 100vw; */
   margin: 1.5rem;
   
}
.sec01{
    
    margin: 0rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.sectionTitle{
    font-family: "Inter", sans-serif;
    font-size: medium;
    color: rgba(71, 71, 71, 1);
}
.sec01  button{
    background-color:white;
    border: none;

}
.textIcon{
    display: flex;
    background-color: #F9F8FE;
    align-items: center;
    gap: 0.4em;
    
    
}

.textIcon button{
    background-color: #F9F8FE;
    color: rgba(201, 32, 113, 1);
}
.textIcon button:hover{
    font-size: 16px;
    transition: 0.7s;
}
.textIcon img{
    height: 1.3em;

}

button{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
}