
.SectionLogin{
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap: 4rem;
    background: linear-gradient(#B5B6F2,#EFEFFF);
}


.FormLogin{
    background-color: white;
    width: 36.438;
    height: 35rem;
    padding: 0.5rem 2rem;
}

.TitleForm{
    
    margin: 2rem 0rem
}

.TitleForm a{
    color: #474747
}   

.TitleForm a:hover{
    color: #8b8b8b;
}

.TitleForm h1{
    color: #1F1F1F;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 1.8rem;
}

.TitleForm p{
    font-weight: 400;
}

.InputLogin {
    display: flex;
    flex-direction: column;
}

.InputLogin label{
    
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.InputLogin input{
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #f8f8f8 ;
    height: 3.5rem;
    width: 32.688rem;
    max-width: 50rem;
}

.InputLogin input:hover{
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.InputSenha{
    display: flex;
    flex-direction: column;
}


.InputSenha label{
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 0.5rem;
}
.InputSenha input{
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 0.3rem;
    background-color: #f8f8f8 ;
    height: 3.5rem;
    width: 32.688rem;
    max-width: 50rem;
}

.InputSenha input:hover{
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
}
.Esqueci{
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.Esqueci a{
    font-size: 15px;
    font-weight: 400;
    color: #474747;

}

.Esqueci a:hover{
    color: #8b8b8b;
}


.ImgSapatos img{
    height: 50rem;
}

.FormLogin .ButtonLogin{
    
    display: flex;
    justify-content: center;
}
.FormLogin button{
    border: none;
    padding: 0.8rem;
    width: 32.688rem;
    border-radius: 0.9rem;
    color: white;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.67px; 
    background-color: #C92071;
    margin: 0px;
    margin-top: 0.8rem;
}
.FormLogin button:hover{
    background-color: #aa1a60 ;
}

.OutrosLogins{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}
 .OutrosLogins img{
    height: 1.1rem;
 }
 .OutrosLogins img:hover{
    transform: scale(1.2);
    transition: 0.5s all;
    
 }