@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap'); 

:root{
    --dark-grey: #474747;
    --dark-grey2: #474747;
    --aqua-blue: #D8E3F2;
    --yellow: #E7FF86;
    --pink: #C92071;
    --light-grey: #8F8F8F;
    --black:#1F1F1F;
    --blue-secondary: #B5B6F2;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container_colecao{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 6.2rem;
}

.c-content{
    width: 90%;
    margin-top: 2.3rem;
}

.cards{
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    margin: 2rem;

}

.title{
    color: var(--dark-grey);
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.75px;
    margin-left: 2rem;
}


.card{
    height: 14rem;
    width: 25rem;
    background-color: var(--aqua-blue);
    border-radius: 8px;
    display: flex;
    background-image: url('../../assets/blusaSupreme.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

.title-card{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 2.25rem;
    width: 12rem;
    margin-bottom: 1.2rem;
    margin-top: 0.6rem;
}

.texts-card{
    margin-left: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bn-discount{
    width: 6rem;
    height: 2rem;
    background-color: var(--yellow);
    border-radius: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--dark-grey);
}

#btn-compra{
    display: flex;
    width: 9.5rem;
    height: 3rem;
    background-color: white;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--pink);
    font-weight: 700;
    cursor: pointer;
}

#btn-compra:hover{
    background-color: var(--blue-secondary);
    color: white;
}